<a href="https://colab.research.google.com/github/royal281203/introduction-/blob/main/Swetha_2024_28.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install google-colab

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

In [ ]:
!ls -ltr /content/drive/MyDrive

In [ ]:
!ls -ltr /content/drive/MyDrive | grep * .csv

In [ ]:
!ls -ltr /content/drive/MyDrive/Untitled spreadsheet.gsheet

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.25.2)

In [ ]:
!pip install BeautifulSoup4

Requirement already satisfied: BeautifulSoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from BeautifulSoup4) (2.5)

In [ ]:
!pip install torch torchvision -U

Requirement already satisfied: torch in /usr/local/lib/python3.10/dist-packages (2.3.0+cu121)
Collecting torch
  Downloading torch-2.3.1-cp310-cp310-manylinux1_x86_64.whl (779.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 779.1/779.1 MB 1.3 MB/s eta 0:00:00
Requirement already satisfied: torchvision in /usr/local/lib/python3.10/dist-packages (0.18.0+cu121)
Collecting torchvision
  Downloading torchvision-0.18.1-cp310-cp310-manylinux1_x86_64.whl (7.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.0/7.0 MB 69.9 MB/s eta 0:00:00
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from torch) (3.15.3)
Requirement already satisfied: typing-extensions>=4.8.0 in /usr/local/lib/python3.10/dist-packages (from torch) (4.12.2)
Requirement already satisfied: sympy in /usr/local/lib/python3.10/dist-packages (from torch) (1.12.1)
Requirement already satisfied: networkx in /usr/local/lib/python3.10/dist-packages (from torch) (3.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.10/dist-packages (from torch) (3.1.4)
Requirement already satisfied: fsspec in /usr/local/lib/python3.10/dist-packages (from torch) (2023.6.0)
Collecting nvidia-cuda-nvrtc-cu12==12.1.105 (from torch)
  Using cached nvidia_cuda_nvrtc_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (23.7 MB)
Collecting nvidia-cuda-runtime-cu12==12.1.105 (from torch)
  Using cached nvidia_cuda_runtime_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (823 kB)
Collecting nvidia-cuda-cupti-cu12==12.1.105 (from torch)
  Using cached nvidia_cuda_cupti_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (14.1 MB)
Collecting nvidia-cudnn-cu12==8.9.2.26 (from torch)
  Using cached nvidia_cudnn_cu12-8.9.2.26-py3-none-manylinux1_x86_64.whl (731.7 MB)
Collecting nvidia-cublas-cu12==12.1.3.1 (from torch)
  Using cached nvidia_cublas_cu12-12.1.3.1-py3-none-manylinux1_x86_64.whl (410.6 MB)
Collecting nvidia-cufft-cu12==11.0.2.54 (from torch)
  Using cached nvidia_cufft_cu12-11.0.2.54-py3-none-manylinux1_x86_64.whl (121.6 MB)
Collecting nvidia-curand-cu12==10.3.2.106 (from torch)
  Using cached nvidia_curand_cu12-10.3.2.106-py3-none-manylinux1_x86_64.whl (56.5 MB)
Collecting nvidia-cusolver-cu12==11.4.5.107 (from torch)
  Using cached nvidia_cusolver_cu12-11.4.5.107-py3-none-manylinux1_x86_64.whl (124.2 MB)
Collecting nvidia-cusparse-cu12==12.1.0.106 (from torch)
  Using cached nvidia_cusparse_cu12-12.1.0.106-py3-none-manylinux1_x86_64.whl (196.0 MB)
Collecting nvidia-nccl-cu12==2.20.5 (from torch)
  Using cached nvidia_nccl_cu12-2.20.5-py3-none-manylinux2014_x86_64.whl (176.2 MB)
Collecting nvidia-nvtx-cu12==12.1.105 (from torch)
  Using cached nvidia_nvtx_cu12-12.1.105-py3-none-manylinux1_x86_64.whl (99 kB)
Collecting triton==2.3.1 (from torch)
  Downloading triton-2.3.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (168.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 168.1/168.1 MB 6.7 MB/s eta 0:00:00
Collecting nvidia-nvjitlink-cu12 (from nvidia-cusolver-cu12==11.4.5.107->torch)
  Downloading nvidia_nvjitlink_cu12-12.5.40-py3-none-manylinux2014_x86_64.whl (21.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.3/21.3 MB 64.8 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from torchvision) (1.25.2)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.10/dist-packages (from torchvision) (9.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2->torch) (2.1.5)
Requirement already satisfied: mpmath<1.4.0,>=1.1.0 in /usr/local/lib/python3.10/dist-packages (from sympy->torch) (1.3.0)
Installing collected packages: triton, nvidia-nvtx-cu12, nvidia-nvjitlink-cu12, nvidia-nccl-cu12, nvidia-curand-cu12, nvidia-cufft-cu12, nvidia-cuda-runtime-cu12, nvidia-cuda-nvrtc-cu12, nvidia-cuda-cupti-cu12, nvidia-cublas-cu12, nvidia-cusparse-cu12, nvidia-cudnn-cu12, nvidia-cusolver-cu12, torch, torchvision
  Attempting uninstall: triton
    Found existing installation: triton 2.3.0
    Uninstalling triton-2.3.0:
      Successfully uninstalled triton-2.3.0
  Attempting uninstall: torch
    Found existing installation: torch 2.3.0+cu121
    Uninstalling torch-2.3.0+cu121:
      Successfully uninstalled torch-2.3.0+cu121
  Attempting uninstall: torchvision
    Found existing installation: torchvision 0.18.0+cu121
    Uninstalling torchvision-0.18.0+cu121:
      Successfully uninstalled torchvision-0.18.0+cu121
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
torchaudio 2.3.0+cu121 requires torch==2.3.0, but you have torch 2.3.1 which is incompatible.
Successfully installed nvidia-cublas-cu12-12.1.3.1 nvidia-cuda-cupti-cu12-12.1.105 nvidia-cuda-nvrtc-cu12-12.1.105 nvidia-cuda-runtime-cu12-12.1.105 nvidia-cudnn-cu12-8.9.2.26 nvidia-cufft-cu12-11.0.2.54 nvidia-curand-cu12-10.3.2.106 nvidia-cusolver-cu12-11.4.5.107 nvidia-cusparse-cu12-12.1.0.106 nvidia-nccl-cu12-2.20.5 nvidia-nvjitlink-cu12-12.5.40 nvidia-nvtx-cu12-12.1.105 torch-2.3.1 torchvision-0.18.1 triton-2.3.1

In [ ]:
import pandas as pd
from tabulate import tabulate
import traceback
import numpy as np
import matplotlib.pyplot as plt
from requests import get
import requests
import os

In [ ]:
# empty list
lst_names = []
# list with some string values in it
lst_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
lst_cities.append("NYC")
# list with some integer values
lst_age = [10, 20]
# append an integer to the existing list
lst_age.append(30)
# iterate each value in a list
for val in lst_cities:
 print(val)
# check if a value exists in a list
if "SFO" in lst_cities:
 print("yes")
else:
 print("no")

Bangalore
Chennai
SFO
Beijing
NYC
yes

In [ ]:
lst_pets = ["dog", "cat"]
for i, value in enumerate(lst_pets):
 print(f"At index {i}, the value in the list is {value}")

At index 0, the value in the list is dog
At index 1, the value in the list is cat

In [ ]:
# empty set
set_names = ()
# Set with some string values in it
set_cities = ["Bangalore", "Chennai", "SFO", "Beijing"]
# append to existing list
set_cities.append("NYC")
# list with some integer values
set_age = [10, 20]
# append an integer to the existing list
set_age.append(30)
print(set_cities)
print(set_age)

['Bangalore', 'Chennai', 'SFO', 'Beijing', 'NYC']
[10, 20, 30]

In [ ]:
# declare dictionary
dict_data = {}

# insert an empty list into the dictionary under the key 'pet'
dict_data['pet'] = []

# append dictionaries representing pets to the list under 'pet'
dict_data['pet'].append({
    'name': 'Dog',
    'website': 'dog.com',
    'from': 'San Francisco'
})
dict_data['pet'].append({
    'name': 'Cat',
    'website': 'hellokitty.com',
    'from': 'Seattle'
})

In [ ]:
# Example code demonstrating the use of len() with different data structures

# Example 1: Getting the number of rows in a dataframe (hypothetical)
# Note: df is assumed to be a Pandas DataFrame
# len(df)

# Example 2: Getting the number of elements in a list
lst_pet_types = ["cat", "dog", "horse"]
# Returns number of elements in the list
c_pet_types = len(lst_pet_types)
# Prints 3
print(f"# pet types: {c_pet_types}")

# Example 3: Getting the number of keys in a dictionary
dict_pets = {"name": "dog", "age": 2}
# Returns number of keys in the dictionary
c_pets = len(dict_pets)
# Prints 2
print(f"# pets: {c_pets}")

# Example 4: Getting the number of elements in a list of dictionaries
dict_pets = {"pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}]}
# Returns number of keys in the dictionary
c_pets = len(dict_pets["pets"])
# Prints 2
print(f"# pets: {c_pets}")

# Example 5: Getting the number of elements in a list of dictionaries and persons
dict_p_h = {
    "pets": [{"name": "dog", "age": 2}, {"name": "dog", "age": 2}],
    "persons": [{"name": "ram", "age": 12}, {"name": "kumaran", "age": 11}]
}
# Returns number of keys in the dictionary
c_pets = len(dict_p_h["pets"])
c_humans = len(dict_p_h["persons"])
# Prints 2 and 2
print(f"# pets: {c_pets} ; # humans: {c_humans}")

# pet types: 3
# pets: 2
# pets: 2
# pets: 2 ; # humans: 2

In [ ]:

txt = " 	Moscow 	"
str_clean = txt.strip()
print(f"From weather report, {str_clean} is too cold most of the times")

From weather report, Moscow is too cold most of the times

In [ ]:
import pandas as pd

# Assuming df is your DataFrame
# Example DataFrame for illustration
data = {'column_nameA': [1, 2, 3], 'column_nameB': [4, 5, 6], 'column_nameC': [7, 8, 9]}
df = pd.DataFrame(data)

# Drop columns 'column_nameA' and 'column_nameB'
df = df.drop(columns=['column_nameA', 'column_nameB'])

# Print the resulting DataFrame
print(df)

   column_nameC
0             7
1             8
2             9

In [ ]:
import pandas as pd

# Example DataFrame for illustration
data = {'column_nameA': [1, 2, 3], 'column_nameB': [4, 5, 6]}
df = pd.DataFrame(data)

# Rename columns
df = df.rename(columns={'column_nameA': 'a', 'column_nameB': 'b'})

# Print the resulting DataFrame
print(df)

   a  b
0  1  4
1  2  5
2  3  6

In [ ]:
lst_items = ['rambo','dog','chennai']
# joins elements of lst_items by delimiter ','
str = ','.join(lst_items)
# prints -> rambo,dog,chennai
print(str)

rambo,dog,chennai

In [ ]:
import pandas as pd

# Input file path (replace with your actual file path)
in_file = "path/to/your/csv/file.csv"

# Read CSV into DataFrame
try:
    df = pd.read_csv(in_file)
    # Optionally, display the first few rows of the DataFrame to verify it was read correctly
    print(df.head())
except FileNotFoundError:
    print(f"Error: The file '{in_file}' was not found.")
except pd.errors.EmptyDataError:
    print(f"Error: The file '{in_file}' is empty or contains no data.")
except pd.errors.ParserError as e:
    print(f"Error: There was an issue parsing the file '{in_file}': {str(e)}")
except Exception as e:
    print(f"Error: An unexpected error occurred: {str(e)}")

Error: The file 'path/to/your/csv/file.csv' was not found.

In [ ]:
print(df.head(10))

   a  b
0  1  4
1  2  5
2  3  6

In [ ]:
df.shape

(3, 2)

In [ ]:
print(list(df))

['a', 'b']

In [ ]:
df.dtypes

a    int64
b    int64
dtype: object

In [ ]:
df.describe(include='all')

         a    b
count  3.0  3.0
mean   2.0  5.0
std    1.0  1.0
min    1.0  4.0
25%    1.5  4.5
50%    2.0  5.0
75%    2.5  5.5
max    3.0  6.0

In [ ]:
from tabulate import tabulate
import pandas as pd

# Example function for pretty print
def pretty_print(title, df, n):
    print(f"\n{title}:")
    if isinstance(df, pd.DataFrame):
        print(tabulate(df.head(n), headers='keys', tablefmt='psql'))
    else:
        print("Error: Input is not a Pandas DataFrame")

# Example usage:
# Assuming df is your Pandas DataFrame
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

# Call pretty_print function
pretty_print("Example DataFrame", df, 5)

Example DataFrame:
+----+-----+-----+-----+
|    |   A |   B |   C |
|----+-----+-----+-----|
|  0 |   1 |   4 |   7 |
|  1 |   2 |   5 |   8 |
|  2 |   3 |   6 |   9 |
+----+-----+-----+-----+

In [ ]:
import pandas as pd

# Example DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 30, 25, 35]}
df = pd.DataFrame(data)

# Using df["age"].unique() to get unique values of "age" column
lst_age = df["age"].unique()

# Print the unique values
print(lst_age)

[25 30 35]

In [ ]:
import pandas as pd

# Example DataFrame
data = {'CLIENTCODE': ['A', 'B', 'A', 'C', 'B'],
        'age': [25, 30, 25, 35, 30]}
df = pd.DataFrame(data)

# Count occurrences of each value in "age" column
age_counts = df["age"].value_counts()
print("Value counts of age column:")
print(age_counts)

# Group by "age" and count unique values of "CLIENTCODE"
age_client_counts = df.groupby("age")["CLIENTCODE"].nunique()
print("\nGrouped count of unique CLIENTCODEs by age:")
print(age_client_counts)

Value counts of age column:
age
25    2
30    2
35    1
Name: count, dtype: int64

Grouped count of unique CLIENTCODEs by age:
age
25    1
30    1
35    1
Name: CLIENTCODE, dtype: int64

In [ ]:
import pandas as pd

data = {'state': ["CA", "CA", "TX", "NC", "SC"], 'deaths': [6, 11, 4, 5, 9]}
df = pd.DataFrame(data)

df2 = df.groupby('state')['deaths'].nunique().to_frame('deaths').reset_index()
df2.head(10)

  state  deaths
0    CA       2
1    NC       1
2    SC       1
3    TX       1

In [ ]:
import pandas as pd
import os

# input file
file_name = 'openpowerlifting-2021-12-10-b420db66.csv'

# Check if the file exists
if not os.path.isfile(file_name):
    print(f"File not found: {file_name}")
else:
    # read csv file
    df_in_power = pd.read_csv(file_name)

    # men only
    df_state_male = df_in_power.loc[df_in_power['Sex'] == "M"]\
                               .groupby(['State'])\
                               .size()\
                               .to_frame('count')\
                               .reset_index()

    # sort by count
    df_sorted = df_state_male.sort_values(by=['count'], ascending=False)

    print(df_sorted.head(10))

File not found: openpowerlifting-2021-12-10-b420db66.csv

In [ ]:
import pandas as pd
import os

# Assume df is your DataFrame
df = pd.DataFrame(data)

# write in current folder
df.to_csv('./out.csv', index=False, header=True)

# Path to the downloads folder
downloads_path = os.path.expanduser('~/Downloads')

# Create the downloads folder if it does not exist
os.makedirs(downloads_path, exist_ok=True)

# write in downloads folder
df.to_csv(os.path.join(downloads_path, 'out.csv'), index=False, header=True)

In [ ]:

{
"name":"John",
"age":30,
"cars":["Ford", "BMW", "Fiat"]
}

{'name': 'John', 'age': 30, 'cars': ['Ford', 'BMW', 'Fiat']}

In [ ]:
# Dict to JSON example one
import json
# dictionary data to convert as a JSON object
dict_pets = {1: 'dog', 2: 'cat',
            3: 'horse', 4: 'elephant',
            5: 'tiger'}
# prints "dict"
print(type(dict_pets))
# save as JSON object
js_data = json.dumps(dict_pets)
# prints "dict"
print(type(dict_pets))
# prints with "" for key-value (wrong json)
print(dict_pets)
# prints with "" for key-value (correct json)
print(js_data)

<class 'dict'>
<class 'dict'>
{1: 'dog', 2: 'cat', 3: 'horse', 4: 'elephant', 5: 'tiger'}
{"1": "dog", "2": "cat", "3": "horse", "4": "elephant", "5": "tiger"}

In [ ]:
import json

# Declare the dictionary data
dict_data = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}

# Write the dictionary to a JSON file
with open('data.json', 'w') as outfile:
   json.dump(dict_data, outfile)

# Optional: Print the dictionary to verify
print(dict_data)

{'name': 'John Doe', 'age': 30, 'city': 'New York'}

In [ ]:
import os
import json
# json file name with/without path
path_in_pet = "data.json"
# check if file exists
if os.path.exists(path_in_pet):
   # open in read mode
   with open(path_in_pet, 'r') as f:
       # read data
       dict_data = json.load(f)
       # prints dict
       print(type(dict_data))
       # print content
       print(dict_data)

<class 'dict'>
{'name': 'John Doe', 'age': 30, 'city': 'New York'}

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {
    'col1': ['1', '2', '3'],
    'col2': ['4.5', '5.6', '6.7']
}
df = pd.DataFrame(data)

# Convert 'col1' to int32
df['col1'] = df['col1'].astype('int32')

# Convert 'col2' to float
df['col2'] = df['col2'].astype('float64')

# Print the data types to verify the change
print(df.dtypes)

col1      int32
col2    float64
dtype: object

In [ ]:
# int to string
age = 20
print("age is " + str(age))

# int to float
salary = 10
f_salary = float(salary)

# float to int
salary = 10.11
# convert to integer
i_salary = int(salary)

# Optional: Print the results to verify
print(f"age: {age} (type: {type(age)})")
print(f"f_salary: {f_salary} (type: {type(f_salary)})")
print(f"i_salary: {i_salary} (type: {type(i_salary)})")

age is 20
age: 20 (type: <class 'int'>)
f_salary: 10.0 (type: <class 'float'>)
i_salary: 10 (type: <class 'int'>)

In [ ]:
from dateutil import parser
from datetime import datetime
# approach 1
dt = parser.parse("Jun 1 2021  1:11PM")
print(dt)
# approach 2
datetime_object = datetime.strptime('Jun 1 2021  1:11PM', '%b %d %Y %I:%M%p')
print(datetime_object)

2021-06-01 13:11:00
2021-06-01 13:11:00

In [ ]:
# approach 1
amount = 20.123456789
f_amount = float("{:.2f}".format(amount))
print(f_amount)
# approach 2
amount = 20.123456789
f_amount =  round(amount, 2)
print(f_amount)

20.12
20.12

In [ ]:
def to_lowercase(in_str):
   return str(in_str).lower()
# text to be converted
text = "How are you?"
# convert string to lowercase
text = to_lowercase(text)
print(text)

how are you?

In [ ]:
text = "This is first line \n This is second line"
print(text)
# replace new line with blank space
text_clean = text.replace("\n", "")
print(text_clean)

This is first line
 This is second line
This is first line  This is second line

In [ ]:
import re
in_str = "Hi, Where are you from?"
str_clean = re.sub(r'\W+', ' ', in_str)
# prints -> Hi Where are you from
print(str_clean)

Hi Where are you from

In [ ]:
import re
in_str = "Hi, Where are you from?"
str_clean = re.sub(r'\W+', ' ', in_str)
# prints -> Hi Where are you from
print(str_clean)

Hi Where are you from

In [ ]:
# dictionary that helps to normalise
dict_norm = {"puppyhood": "dog",
         	"puppyish": "dog",
         	"puppylike": "dog"
        	}
# dictionary that needs transformation in its value
dict_species = {"caesar": "puppyhood", "ryan": "dog", "leela": "cat"}
# create new dictionary to hold the normalised output
dict_species_norm = {}
# iterate items in dict
for key, value in dict_species.items():
	# if value exists in key of dict_norm
	if value in dict_norm.keys():
    	   dict_species_norm[key] = dict_norm[value]
	else:
    	   dict_species_norm[key] = value
# prints -> {"caesar": "dog", "ryan": "dog", "leela": "cat"}
print(dict_species_norm)

{'caesar': 'dog', 'ryan': 'dog', 'leela': 'cat'}

In [ ]:
import pandas as pd

# Create a sample DataFrame
data = {
    'age': [20, 25, 30, 35, 40]
}
df = pd.DataFrame(data)

# Normalize the 'age' column
df["age_normalized"] = df["age"] / df["age"].max()

# Print the DataFrame to verify
print(df)

   age  age_normalized
0   20           0.500
1   25           0.625
2   30           0.750
3   35           0.875
4   40           1.000

In [ ]:
import pandas as pd
from tabulate import tabulate

# Function to pretty print DataFrame using tabulate
def pretty_print(title, df, num_rows):
    print(title)
    print(tabulate(df.head(num_rows), headers='keys', tablefmt='psql'))
    print("\n")

# First DataFrame
df_1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                     'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']})
pretty_print("df_1:", df_1, 10)

# Second DataFrame
df_2 = pd.DataFrame({'id': ['A01', 'A06', 'A02', 'A07'],
                     'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                     'Age': ['12', '13', '14', '12']})
pretty_print("df_2:", df_2, 10)

# Outer join => outputs all rows from both dataframes
df_new = pd.merge(df_1, df_2, on='id', how='outer')
pretty_print("merged outer:", df_new, 10)

# Inner join (equi join) => outputs common intersect
df_new = pd.merge(df_1, df_2, on='id', how='inner')
pretty_print("merged inner:", df_new, 10)

# Different column name
# Assuming you meant to merge on different column names (correct column names must be specified)
df_3 = pd.DataFrame({'id_1': ['A01', 'A02', 'A03', 'A04'],
                     'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']})
df_4 = pd.DataFrame({'id_2': ['A01', 'A06', 'A02', 'A07'],
                     'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                     'Age': ['12', '13', '14', '12']})

# Adjusting the merge to reflect different column names in the two dataframes
df_new = pd.merge(df_3, df_4, left_on='id_1', right_on='id_2', how='inner')
pretty_print("merged with different column names:", df_new, 10)

df_1:
+----+------+---------+
|    | id   | Name    |
|----+------+---------|
|  0 | A01  | Dog     |
|  1 | A02  | Cat     |
|  2 | A03  | Eagle   |
|  3 | A04  | Peacock |
+----+------+---------+


df_2:
+----+------+-----------+-------+
|    | id   | City      |   Age |
|----+------+-----------+-------|
|  0 | A01  | SFO       |    12 |
|  1 | A06  | Chennai   |    13 |
|  2 | A02  | NYC       |    14 |
|  3 | A07  | Bangalore |    12 |
+----+------+-----------+-------+


merged outer:
+----+------+---------+-----------+-------+
|    | id   | Name    | City      |   Age |
|----+------+---------+-----------+-------|
|  0 | A01  | Dog     | SFO       |    12 |
|  1 | A02  | Cat     | NYC       |    14 |
|  2 | A03  | Eagle   | nan       |   nan |
|  3 | A04  | Peacock | nan       |   nan |
|  4 | A06  | nan     | Chennai   |    13 |
|  5 | A07  | nan     | Bangalore |    12 |
+----+------+---------+-----------+-------+


merged inner:
+----+------+--------+--------+-------+
|    | id   | Name   | City   |   Age |
|----+------+--------+--------+-------|
|  0 | A01  | Dog    | SFO    |    12 |
|  1 | A02  | Cat    | NYC    |    14 |
+----+------+--------+--------+-------+


merged with different column names:
+----+--------+--------+--------+--------+-------+
|    | id_1   | Name   | id_2   | City   |   Age |
|----+--------+--------+--------+--------+-------|
|  0 | A01    | Dog    | A01    | SFO    |    12 |
|  1 | A02    | Cat    | A02    | NYC    |    14 |
+----+--------+--------+--------+--------+-------+

In [ ]:
import pandas as pd
from tabulate import tabulate
# first df
df_1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                   'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']
                    })
pretty_print("df_1:", df_1, 10)
# second df
df_2 = pd.DataFrame({
                   'id' : ['A01', 'A06', 'A02', 'A07'],
                   'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                   'Age': ['12', '13', '14', '12']})
pretty_print("df_2:", df_2, 10)
# LEFT JOIN => takes all the values from df1, if it exists on the df2 puts it values, otherwise nan
df_new = df_1.merge(df_2, left_on=['id'], right_on = ['id'], how='left')
pretty_print("left join:", df_new, 10)
# find rows in df2 which are not in df1
df_na = df_new[df_new["City"].isna()]
pretty_print("rows in df2 which are not in df1:", df_na, 10)

df_1:
+----+------+---------+
|    | id   | Name    |
|----+------+---------|
|  0 | A01  | Dog     |
|  1 | A02  | Cat     |
|  2 | A03  | Eagle   |
|  3 | A04  | Peacock |
+----+------+---------+


df_2:
+----+------+-----------+-------+
|    | id   | City      |   Age |
|----+------+-----------+-------|
|  0 | A01  | SFO       |    12 |
|  1 | A06  | Chennai   |    13 |
|  2 | A02  | NYC       |    14 |
|  3 | A07  | Bangalore |    12 |
+----+------+-----------+-------+


left join:
+----+------+---------+--------+-------+
|    | id   | Name    | City   |   Age |
|----+------+---------+--------+-------|
|  0 | A01  | Dog     | SFO    |    12 |
|  1 | A02  | Cat     | NYC    |    14 |
|  2 | A03  | Eagle   | nan    |   nan |
|  3 | A04  | Peacock | nan    |   nan |
+----+------+---------+--------+-------+


rows in df2 which are not in df1:
+----+------+---------+--------+-------+
|    | id   | Name    |   City |   Age |
|----+------+---------+--------+-------|
|  2 | A03  | Eagle   |    nan |   nan |
|  3 | A04  | Peacock |    nan |   nan |
+----+------+---------+--------+-------+

In [ ]:
import pandas as pd
from tabulate import tabulate

# Function to pretty print DataFrame using tabulate
def pretty_print(title, df, num_rows):
    print(title)
    print(tabulate(df.head(num_rows), headers='keys', tablefmt='psql'))
    print("\n")

# First DataFrame
df_1 = pd.DataFrame({'id': ['A01', 'A02', 'A03', 'A04'],
                     'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']})
pretty_print("df_1:", df_1, 10)

# Second DataFrame
df_2 = pd.DataFrame({'id': ['A01', 'A06', 'A02', 'A07'],
                     'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                     'Age': ['12', '13', '14', '12']})
pretty_print("df_2:", df_2, 10)

# Outer join => outputs all rows from both dataframes
df_new = pd.merge(df_1, df_2, on='id', how='outer')
pretty_print("merged outer:", df_new, 10)

# Inner join (equi join) => outputs common intersect
df_new = pd.merge(df_1, df_2, on='id', how='inner')
pretty_print("merged inner:", df_new, 10)

# Different column name
# Assuming you meant to merge on different column names (correct column names must be specified)
df_3 = pd.DataFrame({'id_1': ['A01', 'A02', 'A03', 'A04'],
                     'Name': ['Dog', 'Cat', 'Eagle', 'Peacock']})
df_4 = pd.DataFrame({'id_2': ['A01', 'A06', 'A02', 'A07'],
                     'City': ['SFO', 'Chennai', 'NYC', 'Bangalore'],
                     'Age': ['12', '13', '14', '12']})

# Adjusting the merge to reflect different column names in the two dataframes
df_new = pd.merge(df_3, df_4, left_on='id_1', right_on='id_2', how='inner')
pretty_print("merged with different column names:", df_new, 10)

df_1:
+----+------+---------+
|    | id   | Name    |
|----+------+---------|
|  0 | A01  | Dog     |
|  1 | A02  | Cat     |
|  2 | A03  | Eagle   |
|  3 | A04  | Peacock |
+----+------+---------+


df_2:
+----+------+-----------+-------+
|    | id   | City      |   Age |
|----+------+-----------+-------|
|  0 | A01  | SFO       |    12 |
|  1 | A06  | Chennai   |    13 |
|  2 | A02  | NYC       |    14 |
|  3 | A07  | Bangalore |    12 |
+----+------+-----------+-------+


merged outer:
+----+------+---------+-----------+-------+
|    | id   | Name    | City      |   Age |
|----+------+---------+-----------+-------|
|  0 | A01  | Dog     | SFO       |    12 |
|  1 | A02  | Cat     | NYC       |    14 |
|  2 | A03  | Eagle   | nan       |   nan |
|  3 | A04  | Peacock | nan       |   nan |
|  4 | A06  | nan     | Chennai   |    13 |
|  5 | A07  | nan     | Bangalore |    12 |
+----+------+---------+-----------+-------+


merged inner:
+----+------+--------+--------+-------+
|    | id   | Name   | City   |   Age |
|----+------+--------+--------+-------|
|  0 | A01  | Dog    | SFO    |    12 |
|  1 | A02  | Cat    | NYC    |    14 |
+----+------+--------+--------+-------+


merged with different column names:
+----+--------+--------+--------+--------+-------+
|    | id_1   | Name   | id_2   | City   |   Age |
|----+--------+--------+--------+--------+-------|
|  0 | A01    | Dog    | A01    | SFO    |    12 |
|  1 | A02    | Cat    | A02    | NYC    |    14 |
+----+--------+--------+--------+--------+-------+

In [ ]:
import os
import glob

# Replace '/home/username/csv_files' with the actual path to your CSV files directory
csv_directory = '/path/to/your/csv/files'

# Check if the directory exists
if os.path.exists(csv_directory):
    # Change directory to where your CSV files are located
    os.chdir(csv_directory)

    # Find list of files with .csv extension recursively
    result = glob.glob('**/*.csv', recursive=True)

    # Print the list of CSV files found
    print(result)
else:
    print(f"The directory '{csv_directory}' does not exist.")

The directory '/path/to/your/csv/files' does not exist.

In [ ]:
# get a list of tables from the URL
lst_tables = pd.read_html("https://scholar.google.com/citations?user=6JeebN0AAAAJ&hl=en")
# iterate and print each table
for i, table in enumerate(tables):
pretty_print(f"Table {str(i)}", table, 20)

IndentationError: expected an indented block after 'for' statement on line 4 (<ipython-input-31-7723776b2250>, line 5)

In [ ]:
import pandas as pd
from tabulate import tabulate

# Function to pretty print DataFrame using tabulate
def pretty_print(title, df, num_rows):
    print(title)
    print(tabulate(df.head(num_rows), headers='keys', tablefmt='psql'))
    print("\n")

# Get a list of tables from the URL
lst_tables = pd.read_html("https://scholar.google.com/citations?user=6JeebN0AAAAJ&hl=en")

# Iterate and print each table
for i, table in enumerate(lst_tables):
    pretty_print(f"Table {str(i)}", table, 20)

Table 0
+----+--------------+-------+--------------+
|    | Unnamed: 0   |   All |   Since 2019 |
|----+--------------+-------+--------------|
|  0 | Citations    |    76 |           61 |
|  1 | h-index      |     5 |            5 |
|  2 | i10-index    |     4 |            3 |
+----+--------------+-------+--------------+


Table 1
+----+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+--------+
|    | TitleSortSort by citationsSort by yearSort by title                                                                                                                               |   Cited byCited by |   Year |
|----+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+--------|
|  0 | Survey of crime analysis and predictionL Mookiah, W Eberle, A SirajThe Twenty-Eighth International Flairs Conference, 2015                                                        |                 22 |   2015 |
|  1 | Graph-Based Anomaly Detection on Smart Grid DataL Mookiah, C Dean, W EberleFlorida Artificial Intelligence Research Society Conference, 2017                                      |                 15 |   2017 |
|  2 | Personalized News Recommendation using Graph-Based ApproachL Mookiah, W Eberle, M MondalIntelligent Data Analysis 22, 2018                                                        |                 12 |   2018 |
|  3 | Detecting suspicious behavior using a graph-based approachL Mookiah, W Eberle, L Holder2014 IEEE Conference on Visual Analytics Science and Technology (VAST), 357-358, 2014      |                 11 |   2014 |
|  4 | Discovering Suspicious Patterns Using a Graph Based ApproachS Velampall, L Mookiah, W EberleThe 32nd International FLAIRS Conference, 2019                                        |                  9 |   2019 |
|  5 | Discovering Suspicious Patterns Using a Graph Based ApproachS Velampalli, L Mookiah, W EberleVisual Analytics Science and Technology (VAST), 2018, 2018                           |                  9 |   2018 |
|  6 | Discovering Suspicious Behavior Using Graph-Based ApproachL Mookiah, W Eberle, L HolderThe Twenty-Eighth International Flairs Conference, 2015                                    |                  3 |   2015 |
|  7 | Co-ranking authors in heterogeneous news networksL Mookiah, W Eberle2016 International Conference on Computational Science and Computational …, 2016                              |                  2 |   2016 |
|  8 | Anomalies in Students Enrollment Using VisualizationNM Thakkar, L Mookiah, T Doug, W EberleFlorida Artificial Intelligence Research Society Conference, 2017                      |                  1 |   2017 |
|  9 | Detecting change in news feeds using a context based graphL Mookiah, W Eberle, M MondalProceedings of the International Conference on Data Science (ICDATA), 161, 2016            |                  1 |   2016 |
| 10 | Graph Analytics: Mining Interesting Substructures using Graph Properties as Background KnowledgeS Velampalli, W Eberle, L MookiahIntelligent Data Analysis 22 (5), 2018           |                nan |   2018 |
| 11 | Detecting Vehicular Patterns using a Graph-Based Approach (Poster)WE Sirisha Vellampalli, Lenin MookiahInternational Conference of the Florida AI Research Society (FLAIRS), 2018 |                nan |   2018 |
| 12 | Detecting Vehicular Patterns Using a Graph-Based ApproachS Velampalli, L Mookiah, W EberleVisual Analytics Science and Technology 2017, 2017                                      |                nan |   2017 |
| 13 | Personalized Context Mining of News Streams Using Graph-based ApproachesL MookiahTennessee Technological University, 2017                                                         |                nan |   2017 |
+----+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------+--------+

In [ ]:
df_out = df.fillna(method = "ffill")

In [ ]:
import pandas as pd

# Assuming df is loaded or created somewhere in your code
# Example creation of DataFrame
data = {
    'State': ['CA', 'NY', 'TX', 'CA', 'TX'],
    'Sex': ['M', 'F', 'M', 'M', 'F']
}
df = pd.DataFrame(data)

# Check the columns in your DataFrame
print(df.columns)

# Verify if 'Sex' is in the columns
if 'Sex' in df.columns:
    # Filter for men only and count by state
    df_state_male = df.loc[df['Sex'] == "M"] \
                      .groupby(['State']) \
                      .size() \
                      .to_frame('count') \
                      .reset_index()

    # Sort by count
    df_sorted = df_state_male.sort_values(by=['count'], ascending=False)

    # Assign ranks and percentile ranks
    df_sorted['rank'] = df_sorted['count'].rank(ascending=False)
    df_sorted['pct_rank'] = df_sorted['count'].rank(pct=True)

    # Display the top 10 rows
    print(df_sorted.head(10))
else:
    print("Column 'Sex' does not exist in the DataFrame.")

Index(['State', 'Sex'], dtype='object')
  State  count  rank  pct_rank
0    CA      2   1.0       1.0
1    TX      1   2.0       0.5

In [ ]:
import pandas as pd

# Example of a valid path (replace with your actual path)
file_path = '/path/to/your/air_quality_no2.csv'

try:
    # Load the CSV file into a DataFrame
    df = pd.read_csv(file_path, index_col=0, parse_dates=True)

    # Print the first few rows to verify
    print(df.head())

except FileNotFoundError:
    print(f"File '{file_path}' not found. Please check the file path and try again.")

File '/path/to/your/air_quality_no2.csv' not found. Please check the file path and try again.

In [ ]:
import time
from tqdm import tqdm

# Define the list of values
values = [1000, 1500, 700, 0]

# Iterate over each value
for x in values:
    # Initialize tqdm progress bar
    with tqdm(total=x, desc=f'Processing {x}') as pbar:
        for i in range(x):
            # Simulate some processing time
            time.sleep(0.005)
            # Update the progress bar
            pbar.update(1)

Processing 1000: 100%|██████████| 1000/1000 [00:05<00:00, 190.32it/s]
Processing 1500: 100%|██████████| 1500/1500 [00:07<00:00, 190.68it/s]
Processing 700: 100%|██████████| 700/700 [00:03<00:00, 189.91it/s]
Processing 0: 0it [00:00, ?it/s]

In [ ]:
!pip install matplotlib

Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.25.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [ ]:
!pip install seaborn

Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.10/dist-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)